/* font import */
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

/* variables (converted for regular CSS) */
:root {
  --font-name: 'Shadows Into Light', cursive;
  --switch-width: 270px;
  --switch-height: 120px;
  --switchToggle-width: 120px; /* same as $switch-height */
  --sky-night: #023660;
  --bg: #FEAE6F;
  --bg-blue: #01204E;
  --grey: #e0e0e0;
  --orange: #028391;
  --white: #f0f0f0;
}

/* styling for the page */
section {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--bg);
  z-index: -10;
}

body {
  margin: 0;
  padding: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  color: var(--white);
  /* background-color: var(--bg); */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

 

h1 {
  margin: 30px;
  padding: 20px;
  font-family: var(--font-name);
  font-size: 2.5em;
  font-weight: bold;
  color: var(--orange);
  letter-spacing: 0.2rem;
}

* {
  transition: 1s all;
}

/* hides the checkbox */
input {
  display: none;
}

/* switch styling */
.switch {
  position: relative;
  padding: 20px;
  margin: 10px;
  display: inline-block;
  width: var(--switch-width);
  height: var(--switch-height);
  border-radius: calc(var(--switch-width) / 2);
  background-color: #70C6EC;
  box-sizing: border-box;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.bb8-body {
  position: absolute;
  display: block;
  height: 100px;
  width: 100px;
  bottom: 10px;
  border-radius: 100%;
  background: radial-gradient(ellipse at center, rgba(240, 240, 240, 1) 0%, rgba(235, 235, 235, 1) 72%, rgba(191, 191, 191, 1) 100%);
}

.bb8-body:after {
  content: '';
  position: absolute;
  height: 3.5px;
  width: 100px;
  background: var(--grey);
  top: 46px;
  left: 0px;
}

/* circular design on body */
.circle1,
.circle2,
.circle3 {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  border: 7px solid var(--orange);
  position: relative;
}

.circle1 {
  left: 35px;
  top: 10px;
}

.circle2 {
  left: 10px;
  top: 20px;
}

.circle3 {
  left: 58px;
  top: -11px;
}

/* s1 makes a semicircle type cut */
.s1 {
  background: var(--orange);
  width: 4px;
  height: 20px;
  position: relative;
  left: 6.2px;
  /* overrides the background and places a gradient bg from top to bottom */
  background: linear-gradient(to bottom, var(--orange) 0%, var(--orange) 22%, var(--white) 25%, var(--white) 70%, var(--orange) 75%, var(--orange) 100%);
}

.s2 {
  background: var(--orange);
  width: 20px;
  height: 3px;
  position: relative;
  top: -12px;
  /* overrides the background and places a gradient bg from left to right */
  background: linear-gradient(to right, var(--orange) 0%, var(--orange) 22%, var(--white) 25%, var(--white) 70%, var(--orange) 75%, var(--orange) 100%);
}

/* bb8 head */
.bb8-head {
  position: absolute;
  height: 40px;
  width: 70px;
  top: -38px;
  left: 34px;
  z-index: 3;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: linear-gradient(to bottom, var(--white) 0%, var(--white) 10%, var(--orange) 10%, var(--orange) 15%, var(--white) 16%, var(--white) 70%, var(--orange) 70%, var(--orange) 80%, #666666 85%, #666666 100%);
}

.bb8-head:before {
  position: absolute;
  content: '';
  background: black;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  top: 7px;
  left: 29px;
}

.bb8-head:after {
  position: absolute;
  content: '';
  background: black;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  top: 15px;
  left: 50px;
}

/* bottom head */
.bottom-head {
  position: absolute;
  border-top: 7px solid #9f9f9f;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 60px;
  top: 1px;
  left: 34px;
}

/* rotating and transforming bb8 body on checked */
input[type=checkbox]:checked + label .bb8-body {
  margin-left: calc(100% - 150px);
  transform: rotate(360deg);
}

/* transforming bb8 head */
input[type=checkbox]:checked + label .bb8-head {
  margin-left: calc(100% - 150px);
}

input[type=checkbox]:checked + label .bottom-head {
  margin-left: calc(100% - 150px);
}

input[type=checkbox]:checked + label ~ section {
  background-color: var(--bg-blue);
}
